[project]
name = "server"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "alembic>=1.16.5",
    "fastapi[standard]>=0.118.2",
    "pydantic-settings>=2.11.0",
    "redis>=6.4.0",
    "sqlmodel>=0.0.27",
]
